<section class="about-me-page">
  <div class="about-me-section">
    <h1 #title>About Me</h1>
    <div class="about-me">
      <p>
        I’m a Front-End Developer located in India. I have a serious passion for
        UI development. I love creating intuitive and dynamic user experiences.
        I like writing technical content on Medium.
      </p>
      <p>
        I am a highly-organised person, a problem solver and a meticulous
        individual contributor. I am a fan of cricket, outdoor activities and TV
        series.
      </p>
      <p>
        I'm interested in the entire frontend spectrum and love working on
        ambitious projects with like-minded people.
      </p>
      <p>
        <a [routerLink]="['/']">Let’s collaborate.</a>
      </p>
    </div>
  </div>
  <div class="tag-canvas">
    <div class="canvas-container">
      <tag-canvas [tags]="tags" [options]="options"></tag-canvas>
    </div>
  </div>
</section>
