<section class="medium-blog">
  <h1 #title>Medium Posts</h1>
  <div class="wrapper">
    <div class="cols">
      <div class="col" *ngFor="let post of posts?.items">
        <div class="container">
          <a [href]="post.link" target="_blank" [attr.title]="post.title">
            <div
              class="front"
              [ngStyle]="{ 'background-image': 'url(' + post.thumbnail + ')' }"
            >
              <div class="inner">
                <p>{{ post.title }}</p>
                <span>{{ post.pubDate | date: "longDate" }}</span>
              </div>
            </div>
            <div class="back">
              <div class="inner">
                <p>
                  {{ post.content | nodeToText | shorten: 60:250 }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
